@import "tailwindcss";
.container{
    padding: 20px;
}
:root{
    --textgraycolor : #495057;
    --textminigraycolor: #A3B3C6;
    --buttonbluecolor : #6159CB;
    --inputOutlinecolor : #7269EF;
    --backgroundcolor : #908fa6;
 
}
.day{
    --bgcolor: #e5e7eb;
}
.night{
    --bgcolor: #000000e1;
}
.bg-baackgroundcolor{
    background-color: var(--bgcolor);
}
@theme{
    --color-textgray: var(--textgraycolor);
    --color-textminigray: var(--textminigraycolor);
    --color-buttonblue: var(--buttonbluecolor);
    --color-inputoutline: var(--inputOutlinecolor);
    --color-backgroundcolor: var(--bgcolor);
    --color-themebackgroundcolor: var(--backgroundcolor);
}
@layer utilities {
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none; 
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none; 
    }
  }